
.dash__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f8f8; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}


.logout__button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px; 
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logout__button:hover {
    background-color: #e0a800; 
}


.article__container {
    display: flex;
    flex-direction: column;
    background: #ffffff; 
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 70%; 
    max-width: 800px; 
    padding: 40px;
    text-align: center;
}

/* Welcome message */
.article h2 {
    font-size: 36px; 
    color: #000000; 
    margin-bottom: 10px;
}

.article h1 {
    font-size: 48px;
    font-weight: bold;
    color: #ffc801;
    margin: 0;
}


.footer {
    margin-top: 20px;
    font-size: 12px;
    color: #585858; 
}
